.accordion {
  @include desktop {
    [class*="col-"] {
      padding: 10px;
    }
  }
  .row {
    margin-top: 10px;
  }
  h3 {
    color: #3399cc;
    padding: 10px 12px 10px 24px;
    width: 100%;
    background-color: #dae9f4;
    cursor:pointer;
  }
  a {
    color: #3399cc;
    text-decoration: none;
    font-size: 0.875em;
    &:hover {
      color: $dark-grey;
    }
  }

  ul li {
    float:left;
    width: 100%;
    border-bottom: 1px dotted #3399cc;
    padding: 5px 5px 5px 20px;;
    &:last-child{
      border-bottom: none;
    }
    
  }

  &-title {
    position: relative;
    &:before {
      position: absolute;
      top:15px;
      left: 12px;
      content: "";
      width: 10px;
      height: 10px;
      background-image: $icon-arrow;
      margin-right: 5px;
    }
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    span {
      display: block;
      color: $medium-grey;
    }
    &.open {
      &:before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  &-content {
    display: block;
    overflow: hidden;
    -webkit-transition: max-height $speed ease-out;
    transition: max-height $speed ease-out;
  }

}
.js .accordion-content {
  display: none;
}

.prices {
  color: $body-color;
  @include desktop{
    text-align: right;
  }
}

.current-price {
  color: $accent-color2;
  font-weight: bold;
}
